@charset "UTF-8";

body {
    background-color: rgba(127, 146, 255, 0.547);
}

h1 {
    background-color: rgb(255, 255, 255);
    color: rgb(61, 74, 212);
    text-align: center;
    font: 2em arial, Helvetica, sans-serif;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.443);
    border-radius: 10px;
    height: 100px;
    max-width: 600px;
    padding: 5px;
    margin: auto auto 10px;
}

main {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    text-align: center;
    max-width: 600px;
    max-height: 65vh;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.443);
    margin: auto;
}

#txtp {
    margin: 5px 0px 10px 0px;
    padding: 5px;
    border-radius: 15px;       
}

#botao {
    border-radius: 15px;
    padding: 5px;
}

#res > img {
    max-width: 350px;
    padding: 5px;
    margin: 15px;
    border-radius: 20px;
}

#res > p {
    font-size: 1em;
    margin: auto;
}

div {
    font: 1.8em  Arial, Helvetica, sans-serif;
    padding: 10px;
}

@media screen and (max-width: 500px){
    #res > img {
        width: 50%;
        margin: 5px;
    }
    
}