@charset "UTF-8";

body {
    background-color: rgba(127, 255, 212, 0.547);
}

h1 {
    font: 2em arial;
    padding: 10px;
}

main {
    background-color: white;
    text-align: center;
    width: 600px;
    height: 500px;
    border-radius: 10px;
}