@charset "UTF-8";

body {
    background-color: rgba(127, 146, 255, 0.547);
}

h1 {
    background-color: rgb(255, 255, 255);
    color: rgb(61, 74, 212);
    text-align: center;
    font: 3em arial, Helvetica, sans-serif;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.443);
    border-radius: 10px;
    max-width: 600px;
    padding: 5px;
    margin: auto auto 10px;
}

main {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    text-align: center;
    max-width: 600px;
    height: 50vh;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.443);
    margin: auto;
}

#txtp {
    margin: 5px 0px 10px 0px;
    padding: 5px;
    border-radius: 5px;       
}

div#res {
    font-size: 2em;
    padding: 10px;
}

div > p {
    font: 2em  Arial, Helvetica, sans-serif;
    padding: 20px;
}